In [308]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [309]:
data = pd.read_csv('E:/study/4.Forth Level/Machine Learning/customer_data.csv')

In [310]:
data.describe()

              age         salary   purchased
count  400.000000     400.000000  400.000000
mean    37.655000   69742.500000    0.357500
std     10.482877   34096.960282    0.479864
min     18.000000   15000.000000    0.000000
25%     29.750000   43000.000000    0.000000
50%     37.000000   70000.000000    0.000000
75%     46.000000   88000.000000    1.000000
max     60.000000  150000.000000    1.000000

In [311]:
 data.drop_duplicates(subset=None, keep='first', inplace=True)

In [312]:
data.describe()

              age         salary   purchased
count  367.000000     367.000000  367.000000
mean    37.722071   70719.346049    0.376022
std     10.681383   34772.173908    0.485047
min     18.000000   15000.000000    0.000000
25%     29.500000   43000.000000    0.000000
50%     37.000000   71000.000000    0.000000
75%     46.000000   89000.000000    1.000000
max     60.000000  150000.000000    1.000000

In [313]:
data.insert(0,"x0",1)

In [314]:
#data=data.sample(frac=1)

In [315]:
x=data.iloc[:,[0,1,2]]
y=data.iloc[:,-1]
x1_min=x.iloc[:,1].min()
x1_max=x.iloc[:,1].max()

x2_min=x.iloc[:,2].min()
x2_max=x.iloc[:,2].max()

# normalizing data 

x.iloc[:,1]= (x.iloc[:,1]-x1_min)/(x1_max - x1_min)
x.iloc[:,2]= (x.iloc[:,2]-x2_min)/(x2_max - x2_min)

C:\Users\Lap Smart\AppData\Local\Temp\ipykernel_3180\2710426432.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.iloc[:,1]= (x.iloc[:,1]-x1_min)/(x1_max - x1_min)
C:\Users\Lap Smart\AppData\Local\Temp\ipykernel_3180\2710426432.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.iloc[:,2]= (x.iloc[:,2]-x2_min)/(x2_max - x2_min)

In [316]:
# splitting data into train and test 

x_train=x[0:164]

y_train=y[0:164]

x_test=x[164:]

y_test=y[164:]

# transfer data from data frame into matrix

x_train=np.array(x_train)

y_train=np.array(y_train).flatten()

C:\Users\Lap Smart\AppData\Local\Temp\ipykernel_3180\1923090089.py:5: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_train=y[0:164]
C:\Users\Lap Smart\AppData\Local\Temp\ipykernel_3180\1923090089.py:9: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  y_test=y[164:]

In [317]:
def sigmoid(x):
    return 1/(1+np.exp(-x))

In [318]:
theta=np.array([0,0,0])
m= len(y)

In [319]:
 def fit(alpha,iterations,x_train,y_train,m,theta):
        for i in range(iterations):
            h=sigmoid(x_train.dot(theta))
            loss =-np.mean(y_train*(np.log(h))-(1-y_train)*np.log(1-h))
            g = np.dot(x_train.T,(h - y_train)) / m
            theta =theta - (alpha * g)
        return theta

In [320]:
def predict(X,theta):
    y_pred = sigmoid(X.dot(theta))
    preds = []
    preds = [1 if i > 0.5 else 0 for i in y_pred]
    
    return np.array(preds)

In [321]:
new_theta=fit(0.01 , 10000,x_train,y_train,m,theta)
    
y_pred = predict(x_test,new_theta)
 
print(sum(y_pred==y_test)/len(y_test))

0.896551724137931